In [1]:
import pandas as pd
import numpy as np
import os
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.types import *
from pyspark.sql.functions import *

In [2]:
df = pd.read_csv('US_Accidents_March23.csv')
df.describe(include = 'all')

,ID,Source,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
count,7728394,7728394,7.728394e+06,7728394,7728394,7.728394e+06,7.728394e+06,4.325632e+06,4.325632e+06,7.728394e+06,...,7728394,7728394,7728394,7728394,7728394,7728394,7705148,7705148,7705148,7705148
unique,7728394,3,NaN,6131796,6705355,NaN,NaN,NaN,NaN,NaN,...,2,2,2,2,2,1,2,2,2,2
top,A-1,Source1,NaN,2021-01-26 16:16:13,2021-11-22 08:00:00,NaN,NaN,NaN,NaN,NaN,...,False,False,False,False,False,False,Day,Day,Day,Day
freq,1,4325632,NaN,225,112,NaN,NaN,NaN,NaN,NaN,...,7728145,7526493,7514023,7720796,6584622,7728394,5334553,5695619,6076156,6377548
mean,NaN,NaN,2.212384e+00,NaN,NaN,3.620119e+01,-9.470255e+01,3.626183e+01,-9.572557e+01,5.618423e-01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,4.875313e-01,NaN,NaN,5.076079e+00,1.739176e+01,5.272905e+00,1.810793e+01,1.776811e+00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,1.000000e+00,NaN,NaN,2.455480e+01,-1.246238e+02,2.456601e+01,-1.245457e+02,0.000000e+00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,2.000000e+00,NaN,NaN,3.339963e+01,-1.172194e+02,3.346207e+01,-1.177543e+02,0.000000e+00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,2.000000e+00,NaN,NaN,3.582397e+01,-8.776662e+01,3.618349e+01,-8.802789e+01,3.000000e-02,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,2.000000e+00,NaN,NaN,4.008496e+01,-8.035368e+01,4.017892e+01,-8.024709e+01,4.640000e-01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,4.000000e+00,NaN,NaN,4.900220e+01,-6.711317e+01,4.907500e+01,-6.710924e+01,4.417500e+02,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.State.unique()

array(['OH', 'WV', 'CA', 'FL', 'GA', 'SC', 'NE', 'IA', 'IL', 'MO', 'WI',
       'IN', 'MI', 'NJ', 'NY', 'CT', 'MA', 'RI', 'NH', 'PA', 'KY', 'MD',
       'VA', 'DC', 'DE', 'TX', 'WA', 'OR', 'AL', 'NC', 'AZ', 'TN', 'LA',
       'MN', 'CO', 'OK', 'NV', 'UT', 'KS', 'NM', 'AR', 'MS', 'ME', 'VT',
       'WY', 'ID', 'ND', 'MT', 'SD'], dtype=object)

In [2]:
spark = (SparkSession
  .builder
  .appName("US_Accidents")
  .getOrCreate())

24/09/13 17:44:55 WARN Utils: Your hostname, Eileanors-Laptop.local resolves to a loopback address: 127.0.0.1; using 192.168.0.110 instead (on interface en0)
24/09/13 17:44:55 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/09/13 17:44:56 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
schema = StructType([StructField('ID', StringType(), False),
                StructField('Source', StringType(), False),
                StructField('Severity', IntegerType(), False),
                StructField('Start_Time', TimestampType(), False),                  
                StructField('End_Time', TimestampType(), False),      
                StructField('Start_Lat', DecimalType(), False),
                StructField('Start_Lng', DecimalType(), False),
                StructField('End_Lat', DecimalType(), True),
                StructField('End_Lng', DecimalType(), True),       
                StructField('Distance(mi)', DecimalType(), False),       
                StructField('Description', StringType(), False),       
                StructField('Street', StringType(), True),                 
                StructField('City', StringType(), True),       
                StructField('County', StringType(), True),       
                StructField('State', StringType(), True),       
                StructField('Zipcode', StringType(), True),       
                StructField('Country', StringType(), True),       
                StructField('Timezone', StringType(), True),       
                StructField('Airport_Code', StringType(), True),
                StructField('Weather_Timestamp', TimestampType(), True),
                StructField('Temperature(F)', DecimalType(), True),
                StructField('Wind_Chill(F)', DecimalType(), True),
                StructField('Humidity(%)', DecimalType(), True),
                StructField('Pressure(in)', DecimalType(), True),
                StructField('Visibility(mi)', DecimalType(), True),
                StructField('Wind_Direction', StringType(), True),
                StructField('Wind_Speed(mph)', DecimalType(), True),
                StructField('Precipitation(in)', DecimalType(), True),
                StructField('Weather_Condition', StringType(), True),
                StructField('Amenity', BooleanType(), False),
                StructField('Bump', BooleanType(), False),
                StructField('Crossing', BooleanType(), False),
                StructField('Give_way', BooleanType(), False),
                StructField('Junction', BooleanType(), False),
                StructField('No_Exit', BooleanType(), False),
                StructField('Railway', BooleanType(), False), 
                StructField('Roundabout', BooleanType(), False),
                StructField('Station', BooleanType(), False),
                StructField('Stop', BooleanType(), False),
                StructField('Traffic_Calming', BooleanType(), False),
                StructField('Traffic_Signal', BooleanType(), False),
                StructField('Turning_Loop', BooleanType(), False),
                StructField('Sunrise_Sunset', StringType(), True),
                StructField('Civil_Twilight', StringType(), True),
                StructField('Nautical_Twilight', StringType(), True),
                StructField('Astronomical_Twilight', StringType(), True)])

# Use the DataFrameReader interface to read a CSV file
file = "US_Accidents_March23.csv"
df = spark.read.csv(file, header=True, schema=schema)

In [4]:
# Get row count
rows = df.count()
print(f"DataFrame Rows count : {rows}")

# Get columns count
cols = len(df.columns)
print(f"DataFrame Columns count : {cols}")

DataFrame Rows count : 7728394
DataFrame Columns count : 46

In [5]:
#Cleaning
#Might want to drop everything after - in zipcode if want to transform into an integer  (if closer zipcode values mean closer together)
#Might want to drop all NA's after determining that NA's are random
df_nona = df.na.drop()

# Get row count
rows = df_nona.count()
print(f"DataFrame Rows count : {rows}")

# Get columns count
cols = len(df_nona.columns)
print(f"DataFrame Columns count : {cols}")

24/09/13 17:45:15 WARN SparkStringUtils: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

DataFrame Rows count : 3554549
DataFrame Columns count : 46

In [14]:
df.summary().show()

+-------+--------+-------+------------------+------------------+------------------+-----------------+-----------------+-----------------+--------------------+------------------+----------+---------+-------+------------------+-------+----------+------------+------------------+------------------+------------------+------------------+------------------+--------------+-----------------+-------------------+------------------+--------------+--------------+-----------------+---------------------+
|summary|      ID| Source|          Severity|         Start_Lat|         Start_Lng|          End_Lat|          End_Lng|     Distance(mi)|         Description|            Street|      City|   County|  State|           Zipcode|Country|  Timezone|Airport_Code|    Temperature(F)|     Wind_Chill(F)|       Humidity(%)|      Pressure(in)|    Visibility(mi)|Wind_Direction|  Wind_Speed(mph)|  Precipitation(in)| Weather_Condition|Sunrise_Sunset|Civil_Twilight|Nautical_Twilight|Astronomical_Twilight|
+-------+--------+-------+------------------+------------------+------------------+-----------------+-----------------+-----------------+--------------------+------------------+----------+---------+-------+------------------+-------+----------+------------+------------------+------------------+------------------+------------------+------------------+--------------+-----------------+-------------------+------------------+--------------+--------------+-----------------+---------------------+
|  count| 7728394|7728394|           7728394|           7728394|           7728394|          4325632|          4325632|          7728394|             7728389|           7717525|   7728141|  7728394|7728394|           7726479|7728394|   7720586|     7705759|           7564541|           5729375|           7554250|           7587715|           7551296|       7553188|          7157161|            5524808|           7554935|       7705148|       7705148|          7705148|              7705148|
|   mean|    NULL|   NULL| 2.212384487643875|           36.2204|          -94.6772|          36.2857|         -95.6874|           0.5314|  1096.6666666666667|59.833333333333336|      NULL|     NULL|   NULL| 56844.61091225678|   NULL|      NULL|        NULL|           61.6643|           58.2551|           64.8310|           29.5411|            9.0944|          NULL|           7.7185|             0.0029|              NULL|          NULL|          NULL|             NULL|                 NULL|
| stddev|    NULL|   NULL|0.4875313339360398|5.0888890551407915|17.376677146731613|5.280869999494844|18.10164358352402|1.795123392611662|  171.95146900305244|113.85139982862685|      NULL|     NULL|   NULL|30960.037231397473|   NULL|      NULL|        NULL|19.013672493779517|22.384891358538813|22.820967660113475|1.0240713684470288|2.6773162596279803|          NULL|5.411197550591262|0.10958610348010919|              NULL|          NULL|          NULL|             NULL|                 NULL|
|    min|     A-1|Source1|                 1|                25|              -125|               25|             -125|                0| 1039 GOLDEN BEAR...|         1 1/2 Ave|Aaronsburg|Abbeville|     AL|             01001|     US|US/Central|        K01M|               -89|               -89|                 1|                 0|                 0|          CALM|                0|                  0|      Blowing Dust|           Day|           Day|              Day|                  Day|
|    25%|    NULL|   NULL|                 2|              33.0|            -117.0|             33.0|           -118.0|              0.0|              1125.0|               1.0|      NULL|     NULL|   NULL|           29708.0|   NULL|      NULL|        NULL|              49.0|              43.0|              48.0|              29.0|              10.0|          NULL|              5.0|                0.0|              NULL|          NULL|          NULL|             NULL|                 NULL|
|    50%|    NULL|   NULL|                 2|              36.0|             -88.0|             36.0|            -88.0|              0.0|              1125.0|               1.0|      NULL|     NULL|   NULL|           55431.0|   NULL|      NULL|        NULL|              64.0|              62.0|              67.0|              30.0|              10.0|          NULL|              7.0|                0.0|              NULL|          NULL|          NULL|             NULL|                 NULL|
|    75%|    NULL|   NULL|                 2|              40.0|             -80.0|             40.0|            -80.0|              0.0|              1125.0|              50.0|      NULL|     NULL|   NULL|           90706.0|   NULL|      NULL|        NULL|              76.0|              75.0|              84.0|              30.0|              10.0|          NULL|             10.0|                0.0|              NULL|          NULL|          NULL|             NULL|                 NULL|
|    max|A-999999|Source3|                 4|                49|               -67|               49|              -67|              442| VEHICLE CRASH I7...|  william Carey Dr|   Zwingle|  Ziebach|     WY|             99403|     US|US/Pacific|        KZZV|               207|               207|               100|                59|               140|          West|             1087|                 36|Wintry Mix / Windy|         Night|         Night|            Night|                Night|
+-------+--------+-------+------------------+------------------+------------------+-----------------+-----------------+-----------------+--------------------+------------------+----------+---------+-------+------------------+-------+----------+------------+------------------+------------------+------------------+------------------+------------------+--------------+-----------------+-------------------+------------------+--------------+--------------+-----------------+---------------------+

In [36]:
#Null counts (excluding time columns)
df.agg(*[
    (7728394-count(c)).alias(c)    # vertical (column-wise) operations in SQL ignore NULLs
    for c in df.columns 
]).show()

+---+------+--------+----------+--------+---------+---------+-------+-------+------------+-----------+------+----+------+-----+-------+-------+--------+------------+-----------------+--------------+-------------+-----------+------------+--------------+--------------+---------------+-----------------+-----------------+-------+----+--------+--------+--------+-------+-------+----------+-------+----+---------------+--------------+------------+--------------+--------------+-----------------+---------------------+
| ID|Source|Severity|Start_Time|End_Time|Start_Lat|Start_Lng|End_Lat|End_Lng|Distance(mi)|Description|Street|City|County|State|Zipcode|Country|Timezone|Airport_Code|Weather_Timestamp|Temperature(F)|Wind_Chill(F)|Humidity(%)|Pressure(in)|Visibility(mi)|Wind_Direction|Wind_Speed(mph)|Precipitation(in)|Weather_Condition|Amenity|Bump|Crossing|Give_way|Junction|No_Exit|Railway|Roundabout|Station|Stop|Traffic_Calming|Traffic_Signal|Turning_Loop|Sunrise_Sunset|Civil_Twilight|Nautical_Twilight|Astronomical_Twilight|
+---+------+--------+----------+--------+---------+---------+-------+-------+------------+-----------+------+----+------+-----+-------+-------+--------+------------+-----------------+--------------+-------------+-----------+------------+--------------+--------------+---------------+-----------------+-----------------+-------+----+--------+--------+--------+-------+-------+----------+-------+----+---------------+--------------+------------+--------------+--------------+-----------------+---------------------+
|  0|     0|       0|         0|       0|        0|        0|3402762|3402762|           0|          5| 10869| 253|     0|    0|   1915|      0|    7808|       22635|           120228|        163853|      1999019|     174144|      140679|        177098|        175206|         571233|          2203586|           173459|      0|   0|       0|       0|       0|      0|      0|         0|      0|   0|              0|             0|           0|         23246|         23246|            23246|                23246|
+---+------+--------+----------+--------+---------+---------+-------+-------+------------+-----------+------+----+------+-----+-------+-------+--------+------------+-----------------+--------------+-------------+-----------+------------+--------------+--------------+---------------+-----------------+-----------------+-------+----+--------+--------+--------+-------+-------+----------+-------+----+---------------+--------------+------------+--------------+--------------+-----------------+---------------------+